.searchbar{
    width: 150px;
}

@media screen and (min-width: 576px){
    .searchbar{
        width: 200px;
    }
}

@media screen and (min-width: 768px){
    .searchbar{
        width: 400px;
    }
}

@media screen and (min-width: 992px){
    .searchbar{
        width: 500px;
    }
}