.login-form {
  width: 95%;
  max-width: 400px;
  text-align: center;
  border: 2px solid #a8aca9;
  padding: 20px;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

.login-form input {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: black;
  border: 2px solid #a8aca9;
  border-radius: 10px;
  outline: none;
}

.login-form input:focus {
  border-color: black;
}

.login-form input::placeholder {
  color: #a0aec0;
}

.login-form input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
}

.login-form .login {
  display: block;
  margin: 2rem 0;
  border: none;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.login-form input.input-error {
  border-color: #fc8181;
}

.login-form button:disabled {
  opacity: 0.35;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}
