.cart-image {
  object-fit: contain;
  height: 200px;
}

.cart-amount {
  padding: 8px 20px 12px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-top: 30px;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.trash {
  margin-right: 10px;
}

.cartCard {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .cartCard {
    display: flex;
    flex-direction: row;
    height: 205px;
  }
  .cart-image {
    max-width: 300px;
    object-fit: scale-down;
  }
}
