.page-container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.row-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.total-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-cart-summary {
  border-bottom: 1px solid #eae8e4;
  display: none;
  font-size: medium;
}

.total-sidebar {
  margin-top: 20px;
}

.total-sidebar h5 {
  margin-top: 15px;
  font-weight: bold;
}

.cart-details {
  height: 68vh;
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  .cart-details {
    height: 75vh;
    overflow-y: scroll;
  }

  .list-cart-summary {
    display: block;
    height: 60vh;
    overflow-y: scroll;
    padding-right: 5px;
  }

  .total-sidebar {
    margin-top: 0px;
  }
}
