.product-card {
  width: 12rem;
  margin: 10px;
  padding: 0%;
}

.card-image:hover,
.card-text:hover {
  cursor: pointer;
}

.card_body {
  height: 12rem;
}

.product-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.div-button {
  display: flex;
  justify-content: center;
}

.card-btn {
  width: 100%;
  font-size: small;
}

.card-image {
  height: 8rem;
  object-fit: cover;
}

.card_text {
  margin-bottom: 10px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-title {
  font-size: small;
  height: 15%px;
}

.product-brand {
  font-size: small;
}

.product-price {
  font-size: medium;
}

@media screen and (min-width: 992px) {
  
  .product-card {
    width: 17rem;
  }

  .card-image {
    height: 10rem;
    object-fit: cover;
  }

  .product-title {
    font-size: 16px;
  }

  .product-price {
    font-size: 20px;
  }

  .product-brand {
    font-size: 16px;
  }

  .card-btn {
    font-size: medium;
  }
}
