.product-card {
    width: 12rem;
    height: 30%;
    margin: 10px;
    padding: 0%;
}

.card-image:hover,
.card-text:hover {
    cursor: pointer;
}

.div-button {
    display: flex;
    justify-content: center;
}

.card-btn {
    width: 100%;
    height: 20%;
    margin-top: 10px;
    font-size: small;

}

.card-image {
    height: 8rem;
    object-fit: cover;
}

.card-text {
    margin-bottom: 10px;
    height: min-content;
}

.product-title {
    font-size: small;
    height: 15%px;
}

.product-brand {
    font-size: small;
}

.product-price {
    font-size: medium;
}

@media screen and (min-width: 992px) {
    .product-card {
        width: 17rem;
    }

    .card-image {
        height: 10rem;
        object-fit: cover;
    }

    .product-title {
        font-size: 16px;
    }

    .product-price {
        font-size: 20px;
    }

    .product-brand {
        font-size: 16px;
    }

    .card-btn {
        margin-top: 40px;
        font-size: medium;
    }


}